body {
    font-family: Comic Sans Ms, sans-serif;
    margin: 0;
    padding: 0;
}

  .book-preview {
        width: 50%;
        height: 50%; }

#content {
    background: rgb(19, 19, 19);
    box-shadow: 10px 15px 15px black;
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    height: auto;
    width: 70%;
    padding: 5px 5px 10px 20px;
    margin: 3% auto 3% auto;  /*это отступ с углов экрана*/

}
.container {
            display: flex;
            align-items: flex-start;
            gap: 20px;  /*это отступ от картинки до текста в контейнере*/
             flex-wrap: wrap;
  justify-content: center;
           max-width: 100%;
            margin: 0 auto;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 8px;
        }
        .text {
    white-space: normal; /* Позволяем перенос строк */
    /* Перенос слов в любом месте */
    word-wrap: break-word; /* Альтернативный способ для старых браузеров */
    hyphens: auto; /* Перенос слов по слогам */
    line-height: 1.6; /* Улучшаем читаемость */
    margin-top: 1.25rem;
}

/* Стили для <pre> */
.text pre {
    white-space: pre-wrap; /* Сохраняем переносы строк, но учитываем ширину контейнера */
    word-wrap: break-word; /* Переносим длинные строки */
}
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: url("https://raw.githubusercontent.com/sparktacular/Ten-sparkss/refs/heads/main/background.webp") center center;  
    background-size: cover;
    z-index: -1;
    font-size: 14px;
  }
   @media (max-width: 480px) {
    #content {
        font-size: 0.85rem; /* Ещё больше уменьшаем текст */
        padding: 0.5rem;
