/* Основной стиль для изображений */
img {
    max-width: 100%; 
    height: auto;
}

/* Общий стиль для страницы */
body {
    background-color: #000; /* Черный фон для всей страницы */
    color: #fff; /* Белый цвет текста */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Все секции */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.section-1 {
    background: url('https://github.com/sparktacular/Ten-sparkss/blob/main/main.png?raw=true') no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 100vh; /* Задаем минимальную высоту 100% от высоты экрана */
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2, h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Кнопка */
.button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #6a0dad;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #570ba3;
}

/* Разделитель */
.divider {
    height: 100px;
    background-color: #1a1a1a; /* Чуть светлее черного */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Отступ между секциями */
.spacer {
    height: 120px; /* Увеличенный отступ */
    background-color: #1a1a1a; /* Чуть светлее черного */
}

/* Вторая секция */
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 5%;
    gap: 10%;
}

.section-2-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.section-2 img {
    width: 50%;
    height: auto;
}

/* Добавляем отступы для блока с текстом */
.section-2 .text-content {
    width: 40%;
    text-align: left;
    margin-top: 50px; /* Отступ сверху от картинки */
    margin-bottom: 50px; /* Отступ снизу, чтобы не было слишком тесно */
}

/* Четвертая секция */
.section-4 {
    padding: 50px 5%;
}

.section-4-content {
    display: flex;
    align-items: flex-start;
    gap: 10%;
    width: 100%;
    max-width: 1200px;
}

.section-4 img {
    width: 50%;
    height: auto;
}

.section-4 .text-content {
    width: 40%;
    text-align: left;
}

/* Шестая секция */
.section-6 {
    padding: 50px 5%;
}

.section-6-content {
    display: flex;
    align-items: flex-start;
    gap: 10%;
    width: 100%;
    max-width: 1200px;
}

.section-6 img {
    width: 50%;
    height: auto;
}

.section-6 .text-content {
    width: 40%;
    text-align: left;
}
